[Unit]
Description=iHaskell Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory={{ docker_apps_work_dir }}
User={{ linux_user }}
ExecStart=/usr/bin/docker-compose -f {{ theia_compose_file }} up
ExecStop=/usr/bin/docker-compose -f {{ theia_compose_file }} down

[Install]
WantedBy=multi-user.target